.div-banner{
    position: relative;
    top: -80px;
}

.contenedor-banner{
    height:200px;
    /*background-color: rgba(148, 157, 233, 1);*/
    background-image: url('http://104.197.241.81/imagenes/campo-2.jpg');
    opacity:0.8;
    background-size: cover;
    position: relative;
    top: 19px;
}

.banner{
    margin: 0px 10%;
    padding-left: 15px;
}

.contenedor-banner h2{
    padding-top: 130px;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    text-transform: uppercase;
    color: #fff;
}

@media(min-width:1441px){
    .contenedor-banner{
        position: relative;
        top: 0px;
    }
    .div-banner{
        position: relative;
        top: -62px;
    }
}

@media (max-width: 768px) {
    .contenedor-banner h2{display: none;}
    .contenedor-banner{
        height: 200px;
    }
}