#txtDimension{
    position: relative;
    left:30%;
    font-size: 14px;
}

.btnCard{
    color:rgba(196, 28, 66, 1)!important;
}

.avatar{
    background-color:rgba(196, 28, 66, 1)!important;
}

.w-100Producto{
    
}

.producto{
        
}

@media (max-width: 768px) { 
    .w-100Producto{
        max-width: 100% !important;
    }

    .producto{
        margin-bottom: 30px;
    }
    #txtDimension{
        left:40%;
        font-size: 13px;
    }
}