#tituloPropiedadesSeccion{text-align: center;margin-top: 30px;font-size: 35px;font-family: 'Open Sans',sans-serif; text-transform: uppercase;}
#tituloPropiedadesSeccion span{color: rgba(196, 28, 66, 1)!important;}

@media (max-width: 768px) {
    #tituloPropiedadesSeccion{
        font-size: 24px;
    }
}